/* --- General --- */

@import url('https://fonts.googleapis.com/css2?family=Snowburst+One&display=swap');


body{
    background: url(./Assets/img/pexels-peter-fazekas-19011374.jpg) center/cover;
    min-height: 100vh;
    font-family: Snowburst One, cursive;
}

h1{
    text-transform: lowercase;
    text-decoration: underline dotted;
    /* Info: font-size must be in REM in the bottom */
    font-size: 3rem;
    letter-spacing: 24px;
    text-align: right;
    /* Tip: when we want make a text-shadow, always begin with this info "0 0 0 rgba" in the bottom */
    text-shadow: 10px 5px 1px rgba(158, 156, 154, 1);
}

main{
    background-color: rgba(0, 255, 255, 0.700);
    border-radius: 10px 30px;
    padding: 15px;
    width: 85%;
    /* To center a box with percentage: */
    margin: 0 auto
    /* auto= "same margin to right and left for the example" at the top */
}

/* --- The first exercise --- */

.exercise-theme,
.last_exercise-theme{
    border: 4px solid rgb(110, 70, 52);
    background: url(./Assets/img/pexels-street-donkey-3705687.jpg);
    opacity: 0.900;
    padding: 10px;
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
}

h2{
    text-transform: capitalize;
    margin-top: 0;
}

.exercise-theme ul{
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.exercise-theme li{
    list-style: none;
    /* Put "height" and "width" to made a box for the text: */
    height: 100px;
    width: 100px;
    background-color: rgb(150, 150, 0);
    border-radius: 50px;
    color: rgb(0, 0, 0);
    font-weight: 900;
    margin: 10px;
    box-shadow: 0px 0px 20px 15px rgb(255, 255, 0);
    /* To center an element (ex: text,...) in a flexbox: */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* --- The second exercise --- */

.grid-container{
    display: grid;
    grid-template-columns: 40% 60%;
}

.exercise-theme img{
    width: 95%;
    height: 95%;
    margin: 3% 0 0 3%;
}

form{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 25% 50% 25%;
    grid-row-gap: 5px;
}

input,
textarea{
    font-family: Snowburst One, cursive;
    font-size: 10px;
    color: rgb(0, 40, 255);
    border: 1mm ridge rgb(32, 195, 208);
    border-radius: 30px 10px;
}

/* Use this when you want to change the placeholder(s) */
input::placeholder{
    text-transform: capitalize;
}

/* :valid= "Activate only if in index.html there is 'required' somewhere" at the bottom */
input[type=text]:valid{
    border: 1mm ridge rgb(80, 65, 35)
}

#firstname{
    grid-column-start: 1;
    grid-row-start: 1;
    text-transform: capitalize;
}

#surname{
    grid-column-start: 3;
    grid-row-start: 1;
    text-transform: uppercase;
}

textarea{
    resize: none;
    padding: 15px 10px;
    grid-column-start: 1;
    grid-column-end: span 3;
    grid-row-start: 2;
}

#button{
    grid-column-start: 2;
    grid-row-start: 3;
    cursor: pointer;
    background-color: rgb(32, 195, 208);
    transition: 3s;
}

#button:hover{
    background-color: rgb(255, 255, 255);
}

/* --- Position absolute - last exercise --- */

.last_exercise-theme{
    margin-bottom: 0;
    /* Info= To keep the children with "position: absolute" inside of the parent, you must clarify who became "position: relative" at the bottom */
    position: relative;
    min-height: 20rem;
}

#square1,
#square2{
    display: inline-block;
    font-size: 14px;
    text-align: center;
    background-color: rgb(32, 195, 208);
    height: 50px;
    width: 50px;
}

#square1{
    position: absolute;
    top: 5px;
    right: 5px;
}

#square2{
    position: absolute;
    left: 50%;
    bottom: 40%;
    transform: translateX(-50%) translateY(50%);
}

/* --- Last part: RESPONSIVE --- */

@media screen and (max-width: 740px) {
   
    .grid-container{
        display:block;
    }

    .exercise-theme img{
        display: block;
        background-size: contain;
        width: 300px;
        height: 170px;
        margin: 3% auto;
    }

    input{
        height: 60px;
    }

}

@media screen and (max-width: 470px) {

    h2{
        word-spacing: 10rem;
    }

    form{
        display: block;
    }

    .exercise-theme img{
        width: 55vw;
        height: 135px;
    }

    input,
    textarea{
        display: block;
        width: 75%;
        margin: 10px auto;
    }

}